{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <form method="POST">
        {%  csrf_token%}
        <h1>Banco de Horas </h1>
        {{ form|bootstrap}}
        <br>
        <button type="submit" class="btn btn-info">Salvar</button>
        {% if object %}
            <a href="{% url 'delete_horasextras' object.id %}"  class="btn btn-danger">Deletar</a>
        {% endif %}
    </form>

    <br>
    {% if object %}
        <br>
        <a href="{% url 'create_horasextras'%}" class="btn btn-info">Adicionar horas extras</a>
    {% endif %}
    <br><br><a href="{% url 'list_horasextras'%}" class="btn btn-dark">Horas Extras</a>

{% endblock %}