{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <form method="POST">
        {%  csrf_token%}
        <h1>Funcionário {{ object }} </h1>
        {{ form|bootstrap}}
        <br>
        <button type="submit" class="btn btn-info">Salvar</button>
    </form>
    <br>
    {% if object %}
    <h2>Documentos</h2>
    <ul>
    {% for documento in object.documento_set.all %}
        <li>
            <a href="{{ documento.arquivo.url }} "> {{ documento.descricao }}  </a><br>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'documento_cbv_upload'%}" class="btn btn-secondary">Adicionar documento</a>
    {% endif %}

{% endblock %}