{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <form method="POST">
        {%  csrf_token%}
        <h3>Funcionário</h3>
        <h1>{{ object }} </h1>
        {{ form|bootstrap}}
        <br>
        <button type="submit" class="btn btn-info">Salvar</button>
    </form>
    <br>
    {% if object %}
    <h2>Documentos</h2>
    <ul>
    {% for documento in object.documento_set.all %}
        <li>
            <a href="{{ documento.arquivo.url }} "> {{ documento.descricao }}  </a><br>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'funcionario_documento_cbv_upload'%}" class="btn btn-secondary">Adicionar documento</a>
    <br>
    <br>
    <h2>Banco de Horas</h2>
    <h5>Total de horas extras: {{ object.total_horas_extras }}</h5>
    <ul>
    {% for horaextra in object.registrohoraextra_set.all %}
        <li>
            <a href="{% url 'update_funcionario_horasextras' horaextra.id %}"> {{ horaextra.motivo }}  - {{ horaextra.horas }} horas </a><br>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'create_horasextras'%}" class="btn btn-secondary">Adicionar horas extras</a>
    {% endif %}
    <br><br>
    <a href="{% url 'list_funcionarios'%}" class="btn btn-dark">Voltar</a>
{% endblock %}