{% extends 'base.html' %}
{% load i18n %}

{% block main %}
<br>
<h1>{% trans "Painel de Controle" %}</h1>
{% trans "Bem vindo" %}, {{ usuario }}.
<br><br>
{% trans "Funcionário" %}:  <B>{{ usuario.funcionario.nome }}</B>
<br>
{% trans "Empresa" %}:
            {% if usuario.funcionario.empresa %}
                <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}" class="btn btn-primary btn-sm">{{ usuario.funcionario.empresa }}</a>
            {% endif %}
<br><br><br>
<style>
    table{
        width: 60%;
        border-collapse:collapse;
    }
    table tr {
        border-bottom: solid transparent 8px; /*Distancia entre tr*/
    }

    table tr td:not(:last-child) {
        padding: 1px 0 1px 1px; /*Retirar padding a direita da td, exceto da última para não criar colapso de bordas*/
    }
    table tr td span {
        display:block;
        padding:5px 5px 0 5px;
    }

</style>

<div>
    <table>
      <tbody>
        <tr margin-bottom=8px>
          <td  align="center"><a href="{% url 'list_funcionarios' %}" class="btn btn-info">{% trans "Funcionários" %}</a></td>
          <td  align="center"><a href="{% url 'documentos_cbv_list' %}" class="btn btn-info">{% trans "Documentos" %}</a></td>
        </tr>
        <tr>
          <td  align="center"><a href="{% url 'list_departamentos' %}" class="btn btn-info">{% trans "Departamentos" %}</a></td>
          <td  align="center"><a href="{% url 'list_horasextras' %}" class="btn btn-info">{% trans "Banco de horas" %}</a></td>
        </tr>
        <tr>
            {% if not usuario.funcionario.empresa %}
                <td  align="center"><a href="{% url 'create_empresa' %}" class="btn btn-info">{% trans "Criar empresa" %} </a></td>
            {% endif %}
            <td  align="center"></td>
        </tr>
      </tbody>
    </table>
    <br><br>
    <table>
    <tr><h2>{% trans "Relatórios" %}</h2></tr>
        <tr>
            <td><h5>{% trans "Funcionários" %}: </h5></td>
            <td  align="center"><a href="{% url 'relatorio_funcionarios' %}" class="btn btn-info">{% trans "Gerar PDF" %}</a></td>
            <!--<td  align="center"><a href="{% url 'relatorio_funcionarios_html' %}" class="btn btn-info">Relatório em HTML</a></td> -->
        </tr>
        <tr>
            <td><h5>{% trans "Banco de horas" %}: </h5></td>
            <td  align="center"><a href="{% url 'exportar_csv' %}" class="btn btn-info">{% trans "Gerar CSV" %}</a></td>
            <td  align="center"><a href="{% url 'exportar_excel' %}" class="btn btn-info">{% trans "Gerar planilha excel" %}</a></td>
        </tr>
    </table>
</div>

<br><br>
<a href="{% url 'logout'%}" class="btn btn-secondary">{% trans "Logout" %}</a>
{% endblock %}